@font-face{
    font-family: HoonSlim;
    src: url(assets/hoonslimskinnyl.woff2) format('woff2'),
    url(assets/hoonslimskinnyl.woff) format('woff');
}
.header-items, main {    
    color:#FFF;
    font-family:HoonSlim;
    font-size: calc(24pt + 1vw);
    font-weight:700;
    text-shadow:
    3px 3px 0 #1d0029, 
    -1px -1px 0 #1d0029, 
    1px -1px 0 #1d0029, 
    -1px 1px 0 #1d0029, 
    1px 1px 0 #1d0029;
    user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;    
}
header {
    background-color:rgb(238,58,158);
    background-color:rgba(238,58,158,0.5);
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 12vh;
}
.header-items {
    align-items:center;
    display:flex;
    justify-content:space-around;
    list-style-type:none;
    margin:2px 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
li{
    width: 30vw;    
}
label, legend {
    margin-bottom: 1vh;
    margin-left:auto;
    margin-right:auto;
    padding-left: 50px;
    padding-right: 50px;
    width:90%;
} 
legend {
    width: 98%;
}
.question {
    align-items:center;
    border-radius:10px;
    display:flex;
    font-size: calc(20pt + 1vw);
    height: 10vh;
    max-height: 200px;
    justify-content:center;    
}
.membercolor {
    background-color: #000;
    isolation: isolate;
}
.answer {
    background-color: #444;
    background-color: rgba(0,0,0,0.2);
}
.answer.hover:hover, div:focus label {
    background-color: #999;
    background-color:rgba(255,255,255,0.1);
    cursor: pointer;
    transition:.5s;
}
.answer.hover:active {
    background-color: white;
}
.spacePress {
    border: 1px solid white;
}
form input[type=radio] {
    display: none;
}
body {
    background-color: #FFF;
    height: 100vh;  
    overflow: hidden;
}
.result {
    color: #fff;
    -moz-animation-name:flash linear 500ms infinite;
    -ms-animation-name:flash linear 500ms infinite;
    -webkit-animation:flash linear 500ms infinite;
    animation:flash linear 500ms infinte;    
}
.off {
    -moz-animation-name:none;
    -ms-animation-name:none;
    -webkit-animation-name:none;
    animation-name:none;
}
div:focus {
    outline: none;
}
.finalresult {
    background-color: #444;
    background-color:rgba(0,0,0,.2);
    border-radius: 10px;
    display:flex;
    flex-direction:row;
    height: 40vh;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    padding-top:20px;
    text-align:center;
    width:80%;    
}
.bgHighlight {
    background-image:url('assets/bg.jpg'); 
    background-repeat: no-repeat;
    object-fit: scale-down;    
    background-color: #444;
    background-color:rgba(0,0,0,0.2); 
    display:flex;
    flex-direction:row;
    list-style-type:none;
    margin:0;
    mix-blend-mode:darken;
    padding:0;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
    width:100vw;
    height:100vh;
    z-index:-2;
}
.bgHighlight { /* mobile portrait */
    background-position: center calc(-5vh);
    background-size: 120% auto;
}
@media (min-aspect-ratio: 1160 / 853)
{
    .bgHighlight {
        background-position: center calc(-38vh);
        background-size: cover;
    }   
    #edge,#hl2,#hl3 {
        width:6%;
    }
    #hl1,#hl6,#hl8,#hl9,#hl10 {
        width:8%;
    }
    #hl4,#hl5,#hl7,#hl11,#hl12 {
        width:7%;
    }
    .bghl {
        background-color: #444;
        background-color:rgba(255,255,255,0.5);
        transition:1s;
    }
}
@-webkit-keyframes flash {
    0% {
        color: #fff;
   }
    50% {
        color: rgba(255,255,255,0);
   }
    100% {
        color: #fff;
   }
}
@keyframes flash {
    0% {
        color: #fff;
   }
    50% {
        color: rgba(255,255,255,0);
   }
    100% {
        color: #fff;
   }
}