@font-face{
    font-family: HoonSlim;
    src: url(assets/hoonslimskinnyl.woff2) format('woff2'),
    url(assets/hoonslimskinnyl.woff) format('woff');
}
.header-items, main, label, legend, .question {    
    color:#FFF;
    font-family:HoonSlim;
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(20px + (50 - 20) * ((100vw - 360px) / (1920 - 360)));
    letter-spacing: 1px;
    font-weight:700;
    text-shadow:
    3px 3px 0 #1d0029, 
    -1px -1px 0 #1d0029, 
    1px -1px 0 #1d0029, 
    -1px 1px 0 #1d0029, 
    1px 1px 0 #1d0029;
    user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;    
}
header {
    background-color:rgb(238,58,158);
    background-color:rgba(238,58,158,0.5);
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 12vh;
}
.header-items {
    align-items:center;
    box-sizing: border-box;
    display:flex;
    justify-content:space-around;
    list-style-type:none;
    margin:2px auto;
    padding: 0;
    text-align: center;
}
li{
    width: 30vw;    
}
div {
    width: 100vw;
    border: 0;
}
label, legend {
    margin-bottom: 1vh;
    padding-left: 50px;
    padding-right: 50px;     
    margin-left: auto;
    margin-right: auto;
    width:82vw;
    box-sizing: border-box;
} 
legend {
    width: 98%;
}
.question {
    align-items:center;
    border-radius:10px;
    display:flex;
    height: 10vh;
    max-height: 200px;
    justify-content:center;
}
.membercolor {
    background-color: #000;
    isolation: isolate;
}
.answer {
    background-color: #444;
    background-color: rgba(0,0,0,0.4);
}
.answer.hover:hover, div:focus label {
    background-color: #999;
    background-color:rgba(255,255,255,0.1);
    cursor: pointer;
    transition:.5s;
}
.answer.hover:active {
    background-color: white;
}
.spacePress {
    border: 1px solid white;
}
form input[type=radio] {
    display: none;
}
body {
    background-color: #FFF;
    height: 100vh;  
    overflow: hidden;
}
.result {
    color: #fff;
    -moz-animation-name:flash linear 500ms infinite;
    -ms-animation-name:flash linear 500ms infinite;
    -webkit-animation:flash linear 500ms infinite;
    animation:flash linear 500ms infinte;    
}
.off {
    -moz-animation-name:none;
    -ms-animation-name:none;
    -webkit-animation-name:none;
    animation-name:none;
}
div:focus {
    outline: none;
}
.finalresult {
    background-color: #444;
    background-color:rgba(0,0,0,.2);
    border-radius: 10px;
    display:flex;
    flex-direction:row;
    height: 40vh;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    padding-top:20px;
    text-align:center;
    width:80%;    
}
.bgHighlight {
    background-image:url('assets/bg.jpg'); 
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-color: #444;
    background-color:rgba(0,0,0,0.2); 
    display:flex;
    flex-direction:row;
    height:100vh;    
    list-style-type:none;
    margin:0;
    margin-left:auto;
    margin-right:auto;    
    mix-blend-mode:darken;
    object-fit: scale-down;
    padding:0;
    position:absolute;
    width:100vw;
    z-index:-2;    
}
.bgHighlight { /* mobile portrait */
    background-position-x: center;
    background-position-y: calc(-25vh);
    background-size: cover;
}
@media (min-aspect-ratio:  1024 / 768) /*1.3333333333333333333333333333333*/
{
    #edge,#hl2,#hl3 { width:6%; }
    #hl1,#hl6,#hl8,#hl9,#hl10 { width:8%; }
    #hl4,#hl5,#hl7,#hl11,#hl12 { width:7%; }
    .bghl {
        background-color: #444;
        background-color:rgba(255,255,255,0.5);
        transition:1s;
    }
}
@media (orientation: landscape){
    @media (min-height: 320px) { .bgHighlight {background-position-y: calc(-32vh);}}
    @media (min-height: 375px) { .bgHighlight {background-position-y: calc(-35vh);}}
    @media (min-height: 411px) { .bgHighlight {background-position-y: calc(-35vh);}}
    @media (min-height: 414px) { .bgHighlight {background-position-y: calc(-32vh);}}
    @media (min-height: 768px) { .bgHighlight {background-position-y: calc(-25vh);}}
    @media (min-height: 930px) { .bgHighlight {background-position-y: calc(-35vh);}}
    @media (min-height: 1024px) { .bgHighlight {background-position-y: calc(-26vh);}}
    @media (min-height: 1080px) { .bgHighlight {background-position-y: calc(-32vh);}}
}
@-webkit-keyframes flash {
    0% { color: #fff;}
    50% { color: rgba(255,255,255,0); }
    100% {color: #fff; }
}
@keyframes flash {
    0% { color: #fff;}
    50% { color: rgba(255,255,255,0); }
    100% {color: #fff; }
}