@font-face{
    font-family: 'HoonSlim';
    src: url('assets/hoonslimskinnyl.woff2') format('woff2'),
    url('hoonslimskinnyl.ttf') format('truetype');
}

* {
    /* color: #1d0029;  */
    color: white;
    border-radius: 10px;  
    font-family: 'HoonSlim';
    font-size: 40pt;
    font-weight: bold;    

    /*disable select*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

header {
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
    background-color: rgba(238,58,158,0.5);
    /* margin: 20px 5px 20px 5px; */
    margin: 20px 0px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;      
}

.header-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 20px 10px;
}

li{
    width: 200px;
}

li:nth-child(3) {    
    font-size: 30pt;
}

label {
    margin-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;        
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* border: 1px solid black; */
    height: 100px;          
    font-size: 30pt;

    color: white;
    
    text-shadow:
    3px 3px 0 #1d0029,
  -1px -1px 0 #1d0029,  
   1px -1px 0 #1d0029,
   -1px 1px 0 #1d0029,
    1px 1px 0 #1d0029;      
}

.membercolor {
    background-color: black;
}

.answer {
    background-color: rgba(0,0,0,0.2);
}

.answer.hover:hover {    
    /*outline: auto 2px Highlight;*/
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.1);
}

.answer.hover:active {    
    /*outline: auto 2px Highlight;*/
    background-color: white;
}

.solution {
    /*color: green;*/
}

#question-form input[type=checkbox] {
    display: none;
}

#question-form input[type=checkbox]:checked + .selected {
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0);
}

/* mobile */
body {
    background-image: url("assets/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* tablets */
@media only screen and (min-width: 600px) {
    body {
        background-position-y: -100px;    
    }    
}

/* desktop */
@media only screen and (min-width: 1280px) {
    body {
        background-position-y: 55%;               
    }    
}

.result{
    color: rgba(255,255,255,0);
    -webkit-animation: flash linear 500ms infinite;
    animation: flash linear 500ms infinte;
}

.off {
    -moz-animation-name: none;
    -webkit-animation-name: none;
    -ms-animation-name: none;
    animation-name: none;
}

@-webkit-keyframes flash
{
    0% {color: rgba(255,255,255,0);}
    50% {color: rgba(255,255,255,1);}
    100% {color: rgba(255,255,255,0);}    
    /*
    0% {opacity: 1;}
    50% {opacity: .1;}
    100% {opacity: 1;}
    */
}

@keyframes flash
{
    0% {color: rgba(255,255,255,0);}
    50% {color: rgba(255,255,255,1);}
    100% {color: rgba(255,255,255,0);}        
    /*
    0% {opacity: 1;}
    50% {opacity: .1;}
    100% {opacity: 1;}
    */
}

.finalresult {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 600px;     
    background-color: rgba(255,255,255,.5);
    margin-left: auto;
    margin-right: auto;
}